@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
        font-weight: 400;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-size: normal;
}

/* Используемые цвета */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-super-silver: #EEEEEE;
  --basic-very-light-gray: #DFDFDF;
  --basic-very-light-gray-black: #D5D5D5;
  --basic-soft-red: #FB565A;       /* Покой */
  --basic-bright-red: #E74246;     /* Наведение */
  --basic-moderate-red: #D7373B;   /* Нажатие */
  --basic-lime-green: #00CA74;     /* Покой */
  --basic-strong-cyann: #00BC6C;   /* Наведение */
  --basic-dark-cyan: #00AA62;      /* Нажатие */
  --basic-soft-yellow: #EFC849;    /* Покой */
  --basic-bright-orange: #EAB534;  /* Наведение */
  --basic-vivid-orange: #E5A722;   /* Нажатие */
  --basic-very-dark-grayish: #283136;
}

.services-header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: grid;
  grid-gap: 80px;
}

.main-header {
  background-color: var(--basic-super-silver);
}

.block-slide {
  background-color: var(--basic-super-silver);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  color: var(--basic-black);
  min-height: 100%;
}

.main-navigation-catalog {
  background-color: var(--basic-super-silver);
  width: 100%;
  margin: 0 auto;
}

.title-catalog {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 75px 356px 108px 357px;
}

.main-navigation-content {
  background-color: var(--basic-super-silver);
}

.main-header {
  background-color: var(--basic-super-silver);
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding-top: 75px;

}

.slide-list {
  display: grid;
  grid-template-columns: 1fr;
}

.slide-item1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-item3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-sircle {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px solid silver;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  padding-bottom: 40px;
  justify-items: start;

}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid silver;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  padding-bottom: 40px;
}

.about-text {
  display: grid;
  justify-self: start;
}

.about-image {
  display: grid;
  justify-self: end;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.window {
  width: 308px;
  height: 319px;
  margin: 0px auto;
  padding: 0px;
}

.logo-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  border-bottom: 2px solid silver;
  padding-bottom: 40px;
}

.network {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

p, .about-list {
  font-size: 16px;
  line-height: 24px;
}

.dev-order, .progress-block {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.progress-block {
  text-transform: uppercase;
}

.progress-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.progress-text, .adres {
  font-size: 16px;
  line-height: 18px;
}

.page-footer-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.site-navigation a, .basket {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.navigation-state {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation-state:hover {
  color: var(--basic-soft-red);

}
.navigation-state:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-stateL:link {
  color: var(--basic-black);
  border-bottom: 2px solid #FB565A;
  padding-bottom: 10px;
}

.block-slide>h1 {
  margin: 0px;
  visibility: hidden;
}

.friend {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.friend-discount {
  font-size: 16px;
  line-height: 22px;
}

.button-slide {
  display: table-cell;
  width: 240px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-slide:hover {
  background-color: var(--basic-bright-red);
}

.button-slide:active {
  background-color: var(--basic-moderate-red);
}

.button-service {
  display: table-cell;
  width: 160px;
  height :50px;
  color: var(--basic-white);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-service-red {background-color: var(--basic-soft-red)}
.button-service-red:hover {background-color: var(--basic-bright-red)}
.button-service-red:active {background-color: var(--basic-moderate-red)}
.button-service-green {background-color: var(--basic-lime-green)}
.button-service-green:hover {background-color: var(--basic-strong-cyann)}
.button-service-green:active {background-color: var(--basic-dark-cyan)}
.button-service-orange {background-color: var(--basic-soft-yellow)}
.button-service-orange:hover {background-color: var(--basic-bright-orange)}
.button-service-orange:active {background-color: var(--basic-vivid-orange)}

.button-add {
  width: 200px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-add:hover {
  background-color: var(--basic-bright-red);
}
.button-add:active {
  background-color: var(--basic-moderate-red);
}

.button-write {
  width: 219px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-write:hover {
  background-color: var(--basic-bright-red);
}

.button-write:active {
  background-color: var(--basic-moderate-red);
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.logo-list a img {
  opacity: 0.2;
}

.logo-list a img:hover {
  opacity: 1;
}

.logo-list a img:active {
   opacity: 0.1;
}

.page-number a {
  display: table-cell;
  width: 50px;
  height: 50px;
  background-color: var(--basic-super-silver);
  border: 3px solid var(--basic-super-silver);
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}

.page-check a {
  background-color: var(--basic-white);
}

.page-number a:hover {
  background-color: var(--basic-very-light-gray);
}

.page-number a:active {
  background-color: var(--basic-very-light-gray-black);
  color: var(--basic-black);
  opacity: 0.5;
}

.page-number a:Link {
  border: 3px solid var(--basic-super-silver);
}

.page-next a {
  width: 260px;
  height: 50px;
}

.name-catalog-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
}

.applу {
  width: 260px;
  height: 50px;
  background-color: var(--basic-super-silver);
  border: none;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
}

.applу:hover {
  background-color: var(--basic-very-light-gray);
}

.applу:active {
  background-color: var(--basic-very-light-gray-black);
  color: var(--basic-black);
  opacity: 0.5;
}

.line-navigation {
  height: 69px;
}

.main-catalog {
  width: 1158px;
  display: grid;
  grid-template-columns: 260px 760px;
  padding: 0px;
  margin: 0 auto;
}

.sorting {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0px;
  margin: 0 auto;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0px;
  margin: 0 auto;
  margin-left: 141px;
}

.cadr {
  width: 360px;
  height: 231px;
  background-color: var(--basic-super-silver);
  text-align: center;
  margin: 20px 0px;
}

.name-catalog-item, .name-filter {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item {
  margin-right: 41px;
}

.site-navigation {
  display: flex;
  padding: 0px;
  margin: auto;
  width: 500px;
  height: 104px;
  justify-content: space-between;
  align-items: center;
}

.basket {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-top: 35px;
  margin: 0px;
}

.network-list {
  display: flex;
}

.network-item {
  padding-right: 9px;
}

.discount {
  margin-left: 139px;
}

.name-filter {
  padding-top: 10px;
  padding-right: 35px;
  margin: 0px;
}

.sorting-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.progress {
  display: flex;
}

.progress-percent {
  padding-right: 42px;
}

.progress-block {
  padding-top: 37px;
}

.sorting-item {
  padding-right: 25px;
}

.page-counter {
  display: flex;
  padding-left: 130px;
}

.page-number {
  padding-left: 11px;
}
