@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
        font-weight: 400;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
        font-weight: 700;
        font-size: normal;
}
@font-face  {
  font-family: roboto;
  src: local("font"),
        local("my font"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
        font-weight: 500;
        font-size: normal;
}

/* Используемые цвета */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-super-silver: #EEEEEE;
  --basic-very-light-gray: #DFDFDF;
  --basic-very-light-gray-black: #D5D5D5;
  --basic-Light-grayish-blue: #d7dcde;
  --basic-soft-red: #FB565A;       /* Покой */
  --basic-bright-red: #E74246;     /* Наведение */
  --basic-moderate-red: #D7373B;   /* Нажатие */
  --basic-lime-green: #00CA74;     /* Покой */
  --basic-strong-cyann: #00BC6C;   /* Наведение */
  --basic-dark-cyan: #00AA62;      /* Нажатие */
  --basic-soft-yellow: #EFC849;    /* Покой */
  --basic-bright-orange: #EAB534;  /* Наведение */
  --basic-vivid-orange: #E5A722;   /* Нажатие */
  --basic-very-dark-grayish: #283136;
  --basic-Gray: #ababab;
  --basic-Light-gray: #cfcfcf;
  --basic-Very-dark-gray: #4d4d4d;
}

.page-body {
  padding: 0px;
  margin: 0px;
}

.services-list img {
  display: block;
}

.services-header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: grid;
  grid-gap: 80px;

}

.main-header {
  background-color: var(--basic-super-silver);
}

.block-slide {
  background-color: var(--basic-super-silver);
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  color: var(--basic-black);
  min-height: 100%;
}

.main-navigation-catalog {
  background-color: var(--basic-super-silver);
  width: 100%;
  margin: 0 auto;
}

.title-catalog {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 75px 356px 108px 357px;
}

.main-navigation-content {
  background-color: var(--basic-super-silver);
  padding-left: 20px;
}

.main-header {
  background-color: var(--basic-super-silver);
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding-top: 48px;
}

.block-slide ul{
  padding: 0px;
  margin: 0px;
  height: 413px;
}

.slide-list {
  display: grid;
  grid-template-columns: 1fr;
}

.slide-item1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-item3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  width: 1160px;
}

.slide-sircle {
  position: relative;
  margin: 0 auto;
  left: 5px;
  top: -100px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slide-sircle button {
  padding: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.sircle-current::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 4px;
  top: 4px;
  border: 3px solid var(--basic-black);
  opacity: 0.4;
  border-radius: 50%;
}

.slide-none {
  display: none;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  border-bottom: 2px solid var(--basic-super-silver);
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  padding-bottom: 40px;
  justify-items: start;
  padding-left: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--basic-super-silver);
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  padding-bottom: 40px;
}

.about-text {
  display: grid;
  justify-self: start;
  grid-template-columns: max-content;
  padding: 0px 20px;
}

.about-image {
  display: grid;
  justify-self: end;
  padding-right: 20px;
}

.about-list {
  position: relative;
}

.about-item {
  padding-bottom: 24px;
}

.about-list>li::before {
  content: "";
  top: 10px;
  left: 0px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-soft-red);

}
.about-list>li:nth-child(2)::before {
  content: "";
  top: 58px;
  left: 0px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-soft-red);
}

.about-list>li:nth-child(3)::before {
  content: "";
  top: 105px;
  left: 0px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-soft-red);
}

.progress {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.progress-block {
  padding-left: 15px;
  margin: 0px;
}

.about-text p {
  margin: 0px;
}

.text-title {
  padding: 0px;
  margin: 0px;
}

.window {
  width: 308px;
  height: 319px;
  padding: 0px;
  margin-left: 370px;
  padding-left: 10px;
}

.logo-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  border-bottom: 2px solid var(--basic-super-silver);
  padding-bottom: 40px;
  justify-items: center;
}

.network {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
  margin-bottom: 68px;
  padding-left: 20px;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.text-slide {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-list h3 {
  margin-bottom: 40px;
}

p, .about-list {
  font-size: 16px;
  line-height: 24px;
}

.dev-order, .progress-block {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.dev-order {
  padding-top: 20px;}

.progress-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.progress-text, .adres {
  font-size: 16px;
  line-height: 18px;
}

.page-footer-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.site-navigation a, .basket {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  padding-right: 10px;
}

.basket-catalog {
  padding-right: 0px;
}

.navigation-state {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation-state:hover {
  color: var(--basic-soft-red);

}
.navigation-state:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-stateL:link {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-soft-red);
  padding-bottom: 10px;
}

.block-slide>h1 {
  display: none;
}

.friend {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding: 0px;
  margin: 0px;
}

.friend-discount {
  font-size: 16px;
  line-height: 22px;
}

.button-slide {
  display: table-cell;
  width: 240px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.slide-content1 p {
  padding-bottom: 38px;
  margin: 0px;
}

.button-slide:hover,
.send:hover {
  background-color: var(--basic-bright-red);
}

.button-slide:active,
.send:active {
  background-color: var(--basic-moderate-red);
  color: rgba(255,255,255,0.2);
}

.button-service {
  display: table-cell;
  width: 160px;
  height :50px;
  color: var(--basic-white);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.services-item p {
  margin-bottom: 32px;
}

.button-service-red {
  background-color: var(--basic-soft-red)
}

.button-service-red:hover {
  background-color: var(--basic-bright-red)

}
.button-service-red:active {
  background-color: var(--basic-moderate-red);
  color: rgba(255,255,255,0.2);

}
.button-service-green {
  background-color: var(--basic-lime-green)

}
.button-service-green:hover {
  background-color: var(--basic-strong-cyann)
}

.button-service-green:active {
  background-color: var(--basic-dark-cyan);
  color: rgba(255,255,255,0.2);
}

.button-service-orange {
  background-color: var(--basic-soft-yellow)
}

.button-service-orange:hover
{background-color: var(--basic-bright-orange)

}
.button-service-orange:active {
  background-color: var(--basic-vivid-orange);
  color: rgba(255,255,255,0.2);
}

.button-add {
  width: 200px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-add:hover {
  background-color: var(--basic-bright-red);
}
.button-add:active {
  background-color: var(--basic-moderate-red);
}

.button-write {
  width: 219px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.button-write:hover {
  background-color: var(--basic-bright-red);
}

.button-write:active {
  background-color: var(--basic-moderate-red);
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.logo-list a img {
  opacity: 0.2;
}

.logo-list a img:hover {
  opacity: 1;
}

.logo-list a img:active {
   opacity: 0.1;
}

li .page-number  {
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: 0px 11px;
  background-color: var(--basic-super-silver);
  align-items: center;
  padding-left: 20px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

li .page-next {
  width: 260px;
  height: 50px;
  padding-left: 80px;
}

li .page-number:hover {
  background-color: var(--basic-very-light-gray);
  border: var(--basic-very-light-gray);
  border-radius: 3px;
}

li .page-check:hover {
  padding-left: 21px;
}

li .page-number:active {
  background-color: var(--basic-very-light-gray-black);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-black);
}

li .page-check,
.page-number a:Link {
  background-color: 3px solid var(--basic-white);
  border: 3px solid  var(--basic-super-silver);
  padding-left: 18px;
}

.page-number-next a {
  width: 260px;
  height: 50px;
}

.name-catalog-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
}



.applу {
  width: 260px;
  height: 50px;
  background-color: var(--basic-super-silver);
  border: none;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
}

.applу:hover {
  background-color: var(--basic-very-light-gray);
}

.applу:active {
  background-color: var(--basic-very-light-gray-black);
  color: var(--basic-black);
  opacity: 0.5;
}

.line-navigation {
  height: 69px;
}
.main-catalog {
  width: 1158px;
  display: grid;
  grid-template-columns: 260px 760px;
  padding: 0px;
  margin: 0 auto;
}

.sorting {
  width: 900px;
  display: grid;
  grid-template-columns: 360px 402px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 33px;
  padding-left: 140px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0px;
  margin: 0 auto;
  margin-left: 141px;
}

.sorting-table ul {
  padding-left: 7px;
}

.name-catalog-item,
.name-filter {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item {
  margin-right: 41px;
  display: block;
}

.site-navigation {
  display: flex;
  padding: 0px;
  margin: auto;
  width: 500px;
  height: 104px;
  justify-content: space-between;
  padding-top: 30px;
}

.basket {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0px;
  flex-wrap: nowrap;
  padding-right: 20px;
}
.basket img {
  padding-right: 25px;
  padding-top: 5px;
}

.network-list {
  display: flex;
  padding: 0px;
}

.social-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-very-light-gray-black);
}

.social-button:hover,
.social-button:hover {
  background-color: var(--basic-bright-red);
}

.social-button:focus path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.network ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 261px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.discount {
  margin-left: 139px;
}

.name-filter {
  padding-top: 10px;
  padding-left: 0px;
  margin: 0px;
}

.filter-slider {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  font-size: 14px;
  line-height: 18px;
}



.sorting-item {
  padding-right: 25px;
}

.page-counter {
  display: flex;
  padding-left: 130px;
}

.page-number {
  padding-left: 11px;
}

                        /*Бегунок выбора цен*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 15px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color:  var(--basic-very-light-gray);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-Light-grayish-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-lime-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-Gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-Light-gray);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--basic-very-light-gray);
  font-family: inherit;
  font-size: inherit;
}
                        /*Фильтр Сетка и особенности*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}



.grid li {
  padding-top: 19px;
}
.features li{
  padding-top: 19px;
}
                       /*Фильтр Сетка*/

.filter-item {
  padding: 0px;
  margin: 0px;
  margin-top: 54px;
}

.filter-radio input {
  display: none;
}

.filter-option label {
  position: relative;
}

.filter-radio input + label::before {
  position: absolute;
  content: "";
  left: -35px;
  top: -5px;
  width: 21px;
  height: 21px;
  border: 4px solid var(--basic-Very-dark-gray);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-radio input:checked + label::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-Very-dark-gray);
  opacity: 0.4;
  z-index: 1;
  left: -25px;
  top: 5px;
}

.filter-radio input:checked + label:hover::after,
.filter-radio input + label:hover::before {
  opacity: 100%;
}
                       /*Фильтр Особенности*/
.features input {
  display: none;
}

.filter-checkbox {
  position: relative;
}

.filter-checkbox input + label::before {
  background-image: url(/img/checkbox-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0px;
  left: -36px;
  opacity: 60%;
}

.filter-checkbox input:checked + label::before {
  background-image: url(/img/checkbox-on.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 25px;
  height: 23px;
  top: 0px;
  left: -36px;
  opacity: 60%;
}

.filter-checkbox input + label:hover::before,
.filter-checkbox input:checked + label:hover::before {
  opacity: 100%;
}
                       /*Макеты на продажу*/
.catalog-item img {
  border-top: 40px solid rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}

.catalog-item {
  position: relative;
}

.catalog-item a::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  top: 13px;
  left: 35px;
  box-shadow: 25px 0px 0px var(--basic-white), -25px 0px 0px var(--basic-white);
}

.catalog-item img:hover {
  border-top: 40px solid rgba(77, 77, 77, 1);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .card {
  display: block;
}

.card {
  display: none;
  position: absolute;
  width: 358px;
  height: 231px;
  background-color: var(--basic-super-silver);
  text-align: center;
  top: 387px;
  left: 0px;
  content: "";
  border: none;
}
                       /*Сортировать Цена Тип Название*/
.sorting-item {
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-item:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-item:active {
  color: var(--basic-black);
}

          /*Пока нет механизма, прописанного скриптами, что б была без прозрачности*/
.sort-select {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-pointer input {
  display: none;
}

.sorting-pointer label {
  position: relative;
  padding-left: 25px;
}

.sorting-pointer .down + label::before {
  background-image: url(/img/icon-down-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0px;
  left: 0px;
  opacity: 0.3;
}

.sorting-pointer .up + label::before {
  background-image: url(/img/icon-up-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0px;
  left: 5px;
  opacity: 0.3;
}

.sorting-pointer .down + label:hover::before,
.sorting-pointer .up + label:hover::before {
  opacity: 0.6;
}

.sorting-pointer .down + label:active::before,
.sorting-pointer .up + label:active::before {
  opacity: 1;
}

          /*Пока нет механизма, прописанного скриптами, что б была без прозрачности*/
.sorting-pointer .down + label::before {
  background-image: url(/img/icon-down-dir.svg);
  opacity: 0.6;
}


.name-catalog-item {
  color:var(--basic-black);
}

.name-catalog-item:hover {
  color:var(--basic-soft-red);
}

.name-catalog-item:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.map {
  position: relative;
  left: 0px;
  margin-top: 80px;
  transform: translate(0%, 5%);
  width: 100%;
  height: 416px;
}

.window {
  width: 310px;
  height: 268px;
  background-color: var(--basic-white);
  position: absolute;
  content: "";
  top: 54px;
  left: -230px;
  padding-top: 40px;
  text-align: center;
}

.marker {
  height: 190px;
  width: 231;
  position: absolute;
  content: "";
  top: 87px;
  left: 822px;
}

.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 1440px;
  margin: 0 auto;
  height: 633px;
}
          /*Попап*/
.popup {
  width: 960px;
  height: 671px;
  background-color: var(--basic-white);
  outline: 5px solid var(--basic-soft-red);
  outline-offset: -5px;
  position: relative;
  content: "";
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  left: 500px;
  bottom: 50px;
}

.popup-list {
  padding-top: 62px;
}

.popup-item {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 40px;
  grid-template-rows: 1fr;
  margin-left: 90px;
}

.name-filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.message {
  height: 118px;
  width: 760px;
}

.login,
.email {
  width: 360px;
  height: 50px;
}

.send {
  width: 259px;
  height: 50px;
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  border: none;
  margin-top: 230px;
  margin-left: -400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.name-filter-popup {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-left: 90px;
  margin-top: 0px;
}

.close-cross {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  left: 847px;
  top: 80px;
  fill: var(--basic-soft-red);
  opacity: 0.3;
}

.close-cross:hover {
  fill: var(--basic-soft-red);
  opacity: 1;
}

.close-cross:active {
  fill: var(--basic-soft-red);
  opacity: 0.1;
}
