/* Используемые цвета */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-super-silver: #EEEEEE;
  --basic-soft-red: #FB565A;       /* Покой */
  --basic-bright-red: #E74246;     /* Наведение */
  --basic-moderate-red: #D7373B;   /* Нажатие */
  --basic-lime-green: #00CA74;     /* Покой */
  --basic-strong-cyann: #00BC6C;   /* Наведение */
  --basic-dark-cyan: #00AA62;      /* Нажатие */
  --basic-soft-yellow: #EFC849;    /* Покой */
  --basic-bright-orange: #EAB534;  /* Наведение */
  --basic-vivid-orange: #E5A722;   /* Нажатие */
  --basic-very-dark-grayish: #283136;
}

.services-header {
  font-size: 24px;
  line-height: 30px;
}

.main-header {
  background-color: var(--basic-super-silver);
}

.block-slide{
  background-color: var(--basic-super-silver);
}

ul{
  list-style-type: none;
}

.page{
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  color: #000000;
}

h2{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

h3{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

p, .about-list{
  font-size: 16px;
  line-height: 24px;
}

.dev-order, .progress-block{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.progress-percent{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.progress-text, .adres{
  font-size: 16px;
  line-height: 18px;
}

.page-footer-name{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.site-navigation a, .basket {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color:black
}

.navigation-state {
  color:black;
}

.navigation-state:hover{
  color: var(--basic-soft-red);

}
.navigation-state:active{
  color: var(--basic-black);
  opacity:0.3;
}

.navigation-stateL:link{
  color: var(--basic-black);
  border-bottom: 2px solid #FB565A;
  padding-bottom: 10px;
}

.block-slide>h1 {
  margin: 0px;
  visibility: hidden;
}

.friend{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.friend-discount{
  font-size: 16px;
  line-height: 22px;
}

.button-slide{
  display: table-cell;
  width: 240px;
  height: 50px;
  color: #EEEEEE;
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}


.button-slide:hover{
  background-color: var(--basic-bright-red);
}

.button-slide:active{
  background-color: var(--basic-moderate-red);
}

.button-service{
  display: table-cell;
  width: 160px;
  height :50px;
  color: #EEEEEE;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-service-red{background-color: var(--basic-soft-red)}
.button-service-red:hover{background-color: var(--basic-bright-red)}
.button-service-red:active{background-color: var(--basic-moderate-red)}
.button-service-green{background-color: var(--basic-lime-green)}
.button-service-green:hover{background-color: var(--basic-strong-cyann)}
.button-service-green:active{background-color: var(--basic-dark-cyan)}
.button-service-orange{background-color: var(--basic-soft-yellow)}
.button-service-orange:hover{background-color: var(--basic-bright-orange)}
.button-service-orange:active{background-color: var(--basic-vivid-orange)}

.button-add{
  width: 200px;
  height: 50px;
  color: #EEEEEE;
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-add:hover{
  background-color: var(--basic-bright-red);
}
.button-add:active{
  background-color: var(--basic-moderate-red);
}

.button-write{
  width: 219px;
  height: 50px;
  color :#EEEEEE;
  background-color: var(--basic-soft-red);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-write:hover{
  background-color: var(--basic-bright-red);
}

.button-write:active{
  background-color: var(--basic-moderate-red);
}

.main-header-logo{
  opacity: 1;
}

.main-header-logo:hover{
  opacity: 0.7;
}

.main-header-logo:active{
  opacity: 0.3;
}

.logo-list a img{
  opacity: 0.2;
}

.logo-list a img:hover {
  opacity: 1;
}

.logo-list a img:active{
   opacity: 0.1;
}
